* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: black;
  width: 100%;
}

textarea,
input {
  width: 100%;
  padding: 1em;
  font-size: inherit;
}

button {
  display: block;
  color: inherit;
  cursor: pointer;
  font-size: 14px;
  padding: 1em 2em;
  background: transparent;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 600;
  text-transform: uppercase;
}

/* default display flex */
.wrapper,
.wrapper .form-wrapper form .label-wrapper label .password-wrapper,
.wrapper nav,
.wrapper .search-wrapper,
.devs-container,
.wrapper .update-container .form-wrapper form .image-wrapper,
.wrapper .update-container .form-wrapper form .label-wrapper .input-wrapper,
.wrapper
  .update-container
  .form-wrapper
  form
  .label-wrapper
  .input-wrapper
  .inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* default max width */
.wrapper {
  max-width: 1300px;
  width: 100%;
}

/* default 100% width */
.wrapper .form-wrapper form .title-wrapper,
.wrapper .form-wrapper form .label-wrapper,
.wrapper .form-wrapper form .label-wrapper label,
.wrapper .form-wrapper form .buttons-wrapper,
.wrapper .form-wrapper form .extra-wrapper,
.wrapper .about-wrapper .title-wrapper,
.wrapper .about-wrapper .content-wrapper,
.wrapper nav,
.wrapper nav ul li .sub-setting-wrapper .actions-wrapper,
.wrapper .devs-container,
.wrapper .read-container,
.wrapper .read-content-wrapper .image-wrapper,
.wrapper .read-content-wrapper .name-wrapper,
.wrapper .read-content-wrapper .bio-wrapper,
.wrapper .read-content-wrapper .stacks-wrapper,
.wrapper .read-content-wrapper .links-wrapper,
.wrapper .read-content-wrapper .stacks-wrapper .title-wrapper,
.wrapper .read-content-wrapper .links-wrapper .title-wrapper,
.wrapper .update-container,
.wrapper .update-container .form-wrapper form .image-wrapper,
.wrapper .update-container .form-wrapper form .image-wrapper label,
.wrapper .update-container .form-wrapper form .label-wrapper .add-wrapper,
.wrapper footer {
  width: 100%;
}

/* wrappers */
.wrapper {
  width: 1300px;
  position: fixed;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}

/* signup */
.wrapper .form-wrapper {
  width: 400px;
  padding: 1em;
}

.wrapper .form-wrapper form .title-wrapper {
  margin: 2em 0;
}
.wrapper .form-wrapper form .title-wrapper p {
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.wrapper .form-wrapper form .label-wrapper {
  position: relative;
  margin: 1.5em 0;
}

.wrapper .form-wrapper form .label-wrapper label p {
  position: absolute;
  top: -16px;
  left: 5px;
  background: white;
  border: 1px solid black;
  padding: 0.3em 0.5em;
  border-radius: 4px;
  font-size: 13px;
  z-index: 1;
}

.wrapper .form-wrapper form .label-wrapper label .required {
  color: red;
  border: 1px solid rgb(255 25 25);
}

.wrapper .form-wrapper form .label-wrapper label input:focus {
  font-size: 15px;
  border-radius: 5px;
}

.wrapper .form-wrapper form .label-wrapper label input {
  border: 1px solid black;
  transition: 0.1s ease-in-out;
}

.wrapper .form-wrapper form .label-wrapper label .password-wrapper {
  position: relative;
}

.wrapper
  .form-wrapper
  form
  .label-wrapper
  label
  .password-wrapper
  button:active {
  transform: scale(0.95);
}

.wrapper
  .form-wrapper
  form
  .label-wrapper
  label
  .password-wrapper
  .show-password {
  position: absolute;
  right: 10px;
  padding: 0.5em;
  margin: 0;
  font-size: 11px;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.1s ease-in-out;
}

.wrapper
  .form-wrapper
  form
  .label-wrapper
  label
  .password-wrapper
  .show-password
  button {
  padding: 0;
  margin: 0;
  border: none;
}

.wrapper .form-wrapper form .buttons-wrapper button {
  margin: 1em auto;
}

.wrapper .form-wrapper form .extra-wrapper {
  margin: 1.5em 0 1em;
}

.wrapper .form-wrapper form .extra-wrapper p {
  font-size: 14px;
  text-align: center;
}

.wrapper .form-wrapper form .extra-wrapper a {
  text-transform: capitalize;
  text-decoration: underline;
  color: blue;
}

/* Login */
.wrapper .about-wrapper {
  width: 400px;
  margin-right: 1em;
  height: 200px;
}

.wrapper .about-wrapper .title-wrapper {
  margin-bottom: 1em;
}

.wrapper .about-wrapper .title-wrapper p {
  font-size: x-large;
  font-weight: 600;
}

/* Nav */
.index-wrapper,
.update-wrapper,
.read-wrapper {
  display: block;
  padding: 2em 0;
}

.wrapper nav {
  justify-content: space-between;
  padding: 0 1em;
  margin-bottom: 3em;
}

.wrapper nav .logo {
  font-size: large;
  font-weight: 600;
  color: inherit;
}

.wrapper nav ul li {
  font-size: 16px;
}

.wrapper nav ul li button {
  padding: 1em;
  margin: 0;
  border: none;
  font-size: inherit;
}

.wrapper .search-wrapper {
  width: 500px;
  position: relative;
}

.wrapper .search-wrapper input {
  border: 1px solid black;
  border-radius: 5px;
}

.wrapper .search-wrapper button {
  padding: 0;
  margin: 0;
  border: none;
  position: absolute;
  right: 0;
  padding: 1em;
}

.wrapper nav ul li {
  position: relative;
}

.wrapper nav ul li .sub-setting-wrapper {
  position: absolute;
  background: #d9d9d9;
  text-align: center;
  left: -100%;
  width: 100px;
  border-radius: 5px;
}

.wrapper nav ul li .sub-setting-wrapper .arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  transform: rotate(-45deg);
  right: 13px;
  top: -5px;
  background: #d9d9d9;
  z-index: -1;
}

.wrapper nav ul li .sub-setting-wrapper .actions:hover {
  background: #b9b9b9;
}

.wrapper nav ul li .sub-setting-wrapper .actions {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  display: block;
  font-weight: 600;
  width: 100%;
  padding: 0.7em 0;
  color: black;
  z-index: 1;
  font-size: 14px;
  border-radius: 0;
}

/* Devs Container */
.wrapper .devs-container .devs {
  max-width: 210px;
  width: 210px;
  height: 156px;
  border: 1px solid;
  padding: 1em;
  border-radius: 5px;
  margin: 1em;
}

.wrapper .devs-container .devs .image-wrapper,
.wrapper .devs-container .devs .image-wrapper img {
  width: 60px;
  height: 60px;
  border-radius: 50em;
  margin: auto;
  object-fit: contain;
}

.wrapper .devs-container .devs .content-wrapper {
  margin: 1em 0;
  text-align: center;
  word-wrap: break-word;
  color: black;
}

.wrapper footer {
  text-align: center;
  margin-top: 5em;
}

/* Read */
.read-wrapper::-webkit-scrollbar {
  width: 0px;
}

.read-wrapper {
  max-height: 600;
  overflow-y: auto;
}

.wrapper .read-container .read-content-wrapper {
  width: 460px;
  margin: auto;
}

.wrapper .read-container .read-content-wrapper .image-wrapper img {
  width: 100px;
  height: 100px;
  border-radius: 50em;
  margin: auto;
  display: block;
}

.wrapper .read-container .read-content-wrapper .name-wrapper {
  margin-top: 1em;
}

.wrapper .read-container .read-content-wrapper .name-wrapper p {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 0.2em;
}

.wrapper .read-container .read-content-wrapper .name-wrapper small {
  text-align: center;
  display: block;
}

.wrapper .read-container .read-content-wrapper .bio-wrapper {
  margin: 1em 0 1.2em;
}
.wrapper .read-container .read-content-wrapper .bio-wrapper p {
  padding: 1em;
  word-wrap: break-word;
}

.wrapper .read-container .read-content-wrapper .stacks-wrapper .title-wrapper p,
.wrapper .read-container .read-content-wrapper .links-wrapper .title-wrapper p {
  display: block;
  font-weight: bold;
  font-size: 1.1em;
}

.wrapper .read-container .read-content-wrapper .stacks-wrapper ul,
.wrapper .read-container .read-content-wrapper .links-wrapper ul {
  padding: 0 1em;
  margin-top: 0.3em;
  margin-left: 1em;
  width: 100%;
}

.wrapper .read-container .read-content-wrapper .stacks-wrapper ul li,
.wrapper .read-container .read-content-wrapper .links-wrapper ul li {
  list-style: disc;
  padding: 0.3em 0;
  font-weight: 600;
  text-transform: capitalize;
}

.wrapper .read-container .read-content-wrapper .stacks-wrapper {
  margin: 1em 0 1.5em;
}

/* Update */
.update-wrapper::-webkit-scrollbar {
  width: 0px;
}

.update-wrapper {
  max-height: 600;
  overflow-y: auto;
}

.wrapper .update-container {
  margin-top: -2em;
}

.wrapper .update-container .form-wrapper {
  margin: auto;
}

.wrapper .update-container .form-wrapper form .image-wrapper {
  padding: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid;
  flex-direction: column;
}

.wrapper .update-container .form-wrapper form .image-wrapper .image-container {
  margin-right: 1em;
}

.wrapper .update-container .form-wrapper form .image-wrapper .image-container,
.wrapper
  .update-container
  .form-wrapper
  form
  .image-wrapper
  .image-container
  img {
  width: 120px;
  height: 120px;
  border-radius: 50em;
}

.wrapper .update-container .form-wrapper form .image-wrapper label {
  display: block;
}

.wrapper
  .update-container
  .form-wrapper
  form
  .image-wrapper
  label
  p:nth-child(1) {
  margin: 1em 0;
}

.wrapper
  .update-container
  .form-wrapper
  form
  .image-wrapper
  label
  p:nth-child(2) {
  display: block;
  width: 100%;
  border: 1px solid;
  padding: 0.5em;
  border-radius: 5px;
  font-weight: 600;
  text-transform: uppercase;
  /* margin-top: 1em; */
  text-align: center;
}

.wrapper
  .update-container
  .form-wrapper
  form
  .label-wrapper
  label
  textarea::-webkit-scrollbar {
  width: 0;
}

.wrapper .update-container .form-wrapper form .label-wrapper label textarea {
  max-height: 100px;
  height: 100px;
  border: 1px solid;
  resize: none;
  overflow-y: auto;
}

.update-wrapper footer {
  margin-top: 1em;
}

/* Social Links */
.wrapper .update-container .form-wrapper form .label-wrapper .input-wrapper {
  border-radius: 5px;
}

.wrapper
  .update-container
  .form-wrapper
  form
  .label-wrapper
  .input-wrapper
  .inputs {
  /* background: red; */
  margin: 0.5em 0;
}

.wrapper
  .update-container
  .form-wrapper
  form
  .label-wrapper
  .input-wrapper
  .inputs
  input {
  flex: 1;
  border: 1px solid black;
  margin: 0 0.5em;
  border-radius: 5px;
}

.wrapper
  .update-container
  .form-wrapper
  form
  .label-wrapper
  .input-wrapper
  .inputs
  button {
  padding: 1em;
  margin: 0;
}

.wrapper .update-container .form-wrapper form .label-wrapper .add-wrapper {
  padding: 1em 0;
}

.wrapper
  .update-container
  .form-wrapper
  form
  .label-wrapper
  .add-wrapper
  button {
  width: 100%;
}
