* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: black;
  width: 100%;
}

input {
  width: 100%;
  padding: 1em;
  font-size: inherit;
}

button {
  display: block;
  color: inherit;
  cursor: pointer;
  font-size: 14px;
  padding: 1em 2em;
  background: transparent;
  border: 1px solid black;
  border-radius: 5px;
}

/* default display flex */
.wrapper,
.wrapper .form-wrapper form .label-wrapper label .password-wrapper,
.wrapper nav,
.wrapper .search-wrapper,
.devs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* default max width */
.wrapper {
  max-width: 1300px;
  width: 100%;
}

/* default 100% width */
.wrapper .form-wrapper form .title-wrapper,
.wrapper .form-wrapper form .label-wrapper,
.wrapper .form-wrapper form .label-wrapper label,
.wrapper .form-wrapper form .buttons-wrapper,
.wrapper .form-wrapper form .extra-wrapper,
.wrapper .about-wrapper .title-wrapper,
.wrapper .about-wrapper .content-wrapper,
.wrapper nav,
.devs-container,
.wrapper footer {
  width: 100%;
}


/* wrappers */
.wrapper {
  width: 1300px;
  position: fixed;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}

/* signup */
.wrapper .form-wrapper {
  width: 400px;
  padding: 1em;
}

.wrapper .form-wrapper form .title-wrapper {
  margin: 2em 0;
}
.wrapper .form-wrapper form .title-wrapper p {
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.wrapper .form-wrapper form .label-wrapper {
  position: relative;
  margin: 1.5em 0;
}

.wrapper .form-wrapper form .label-wrapper label p {
  position: absolute;
  top: -16px;
  left: 5px;
  background: white;
  border: 1px solid black;
  padding: .3em .5em;
  border-radius: 4px;
  font-size: 13px;
  z-index: 1;
}

.wrapper .form-wrapper form .label-wrapper label input:focus {
  font-size: 15px;
  border-radius: 5px;
}

.wrapper .form-wrapper form .label-wrapper label input {
  border: 1px solid black;
  transition: .1s ease-in-out;
}

.wrapper .form-wrapper form .label-wrapper label .password-wrapper {
  position: relative;
}

.wrapper .form-wrapper form .label-wrapper label .password-wrapper button:active {
  transform: scale(.95);
}

.wrapper .form-wrapper form .label-wrapper label .password-wrapper .show-password {
  position: absolute;
  right: 10px;
  padding: .5em;
  margin: 0;
  font-size: 11px;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 600;
  transition: .1s ease-in-out;
}

.wrapper .form-wrapper form .label-wrapper label .password-wrapper .show-password button {
  padding: 0;
  margin: 0;
  border: none;
}

.wrapper .form-wrapper form .buttons-wrapper button {
  margin: 1em auto;
}

.wrapper .form-wrapper form .extra-wrapper {
  margin: 1.5em 0 1em;
}

.wrapper .form-wrapper form .extra-wrapper p {
  font-size: 14px;
  text-align: center;
}

.wrapper .form-wrapper form .extra-wrapper a {
  text-transform: capitalize;
  text-decoration: underline;
  color: blue;
}

/* Login */
.wrapper .about-wrapper {
  width: 400px;
  margin-right: 1em;
  height: 200px;
}

.wrapper .about-wrapper .title-wrapper {
  margin-bottom: 1em; 
}

.wrapper .about-wrapper .title-wrapper p {
  font-size: x-large;
  font-weight: 600;
}

/* Nav */
.index-wrapper {
  display: block;
  padding: 2em 0;
}

.wrapper nav {
  justify-content: space-between;
  padding: 0 1em;
  margin-bottom: 3em;
}

.wrapper nav .logo {
  font-size: large;
  font-weight: 600;
  color: inherit;
}

.wrapper nav ul li {
  font-size: 16px;
}

.wrapper nav ul li button {
  padding: 1em;
  margin: 0;
  border: none;
  font-size: inherit;
}

.wrapper .search-wrapper {
  width: 500px;
  position: relative;
}

.wrapper .search-wrapper input {
  border: 1px solid black;
  border-radius: 5px;
}

.wrapper .search-wrapper button {
  padding: 0;
  margin: 0;
  border: none;
  position: absolute;
  right: 0;
  padding: 1em;
}

/* Devs Container */
.wrapper .devs-container .devs {
  max-width: 210px;
  width: 210px;
  height: 156px;
  border: 1px solid;
  padding: 1em;
  border-radius: 5px;
  margin: 1em;
}

.wrapper .devs-container .devs .image-wrapper,
.wrapper .devs-container .devs .image-wrapper img {
  width: 60px;
  height: 60px;
  border-radius: 50em;
  margin: auto;
  object-fit: contain;
}

.wrapper .devs-container .devs .content-wrapper {
  margin: 1em 0;
  text-align: center;
  word-wrap: break-word;
  color: black;
}

.wrapper footer {
  text-align: center;
  margin-top: 5em;
}